* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

button {
  background: lightblue;
  padding: 2px 15px;
  border-radius: 5px;
  border: none;
}

.array-oggetti {
  padding-top: 30px;
}
