* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

button {
  background: lightblue;
  padding: 2px 15px;
  border-radius: 5px;
  border: none;
}

.classe {
  padding-left: 117px;
  display: inline-block;
  width: 50%;
}

.inputUtente {
  text-align: center;
  padding-bottom: 30px;
}

.detagli {
  padding-left: 50px;
  display: inline-block;
  width: 50%;
}

.sarti {
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  margin: 0 auto;
}
